/* QuizInput.css */
/* *{
  background-color: #02082d;
} */

.AddQ-input-box{
  padding:15px;
}

.quiz-input-box {
    max-width: 600px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    height: 90vh;
    color: white;
    /* border: 1px solid #ccc; */
    overflow:auto;
    border-radius: 5px;
    /* background-color: #02082d; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .question-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #08114e;
  }
  
  .question-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.AddQQ{
  background-color: white;
  /* color: black; */
}

  .options-container {
    margin-bottom: 10px;
  }


  
  .options-container div {
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
    background-color: #08114e;
  }
  
  .options-container input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }

  .options-container label{
    background-color: #08114e;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.AddQ-button-group{
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
}

.AddQ-submitted-box{
  color: white;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  height: 85vh;
}

.AddQ-code-copy{
  border: 0.5px white solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.AddQ-code-copy img{
  height: 20px;
}

.AddQ-copy2{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}


.AddQ-code-copy .AddQ-copy2:hover{
  background-color: #1d2554;
}
  