:root {
    --lightbackground: #724bc6;
    --darkbackground: #340a95;
}

.header{
    display: flex;
    /* position: sticky; */
    /* top: 3px; */
    margin:0px 0px 0.3px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 10px 25px 6px 17px;
    background-color: var(--darkbackground);
    color: white;
}

.left-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkbackground);
    align-items: center;
    flex: 1;
}

.Home-main-upper{
    background-color: var(--darkbackground);
}

.middle{
    background-color: var(--darkbackground);
    flex: 2;
    text-align: center;
}

#Head-h1{
    background-color: var(--darkbackground);
}

.right-header{
    background-color: var(--darkbackground);
    flex:1;
    /* margin-right: 10px; */
    text-align: right;
}

.logo {
    height: 50px;
    width: auto;
}