@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

.design-container{
    position: relative;
    margin: 0;
    height: 90vh;
    overflow: hidden;
}

.main{
    position: absolute;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: var(--darkbackground);
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
}

/* .Home-main-upper{
    padding: 10px;
} */

.design-div{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 62vh;
    z-index: 1;
}

/* .Home-my-election-button{
    margin:10px;
    background-color: rgb(18, 68, 112);
}

.Home-my-election-button:hover{
    background-color: rgb(25, 96, 159);

} */


.Home-main-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px;
}


.options{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40vw;
    align-items: center;
    top: 70vh;
    z-index: 2;
    left: 30%;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px;
}

.left{
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.button1{
    padding: 20px;
    font-size: 1.3em;
    margin: 10px;
    flex: 1;
    color: black;
    background-color: #fff;
    min-width: 100px;
    border-radius: 30px;
    border: 1px solid var(--lightbackground);
    height: 40%;
    justify-content: center;
    justify-items: center;
    top: 30%;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.button1:hover{
    background-color: var(--lightbackground);
    color: white;
    cursor: pointer;
}

.Text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 200px;
    width: 100%;
    /* box-sizing: border-box; */
    /* min-width: 200px; */
    box-sizing: border-box;
    flex:1;
    margin-left: 67px;
}

.inner-text-box{
    word-wrap: break-word; 
    word-break: break-word;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}

.graphic-box{
    width: 55vw;
}

.graphic-box > img{
    width: 100%;
}

@media (max-width: 800px) {
    .button1{
        font-size: 1.2em;
        /* background-color: black; */
    }
    .main{
        flex-direction: column;
        padding: 3rem;
    }
    .left{
        flex-direction: column;
        height: 30vh;
        margin-bottom: 2rem;
        width: 70%;
    }
    .Home-main-bottom{
        flex-direction: column;
    }
    .right{
        width: 70%;
        height: 55vh;
        /* background-color: white; */
    }
    .Home-main-upper{
        display: flex;
        justify-content: center;    
    }
    .main{
        padding: 1rem;
    }
  }