/* :root {
    --lightbackground: #724bc6;
    --darkbackground: #340a95;
} */

.design-container{
    position: relative;
    margin: 0;
    height: 90vh;
    overflow: hidden;
}

.main{
    position: absolute;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 75vh;
    background-color: var(--darkbackground);
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
}

.Home-main-upper{
    padding: 10px;
}

.design-div{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 62vh;
    z-index: 1;
}

.Home-my-election-button{
    margin:10px;
    background-color: rgb(18, 68, 112);
}

.Home-my-election-button:hover{
    background-color: rgb(25, 96, 159);

}


.Home-main-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70vh;
    z-index: 2;
}

.left{
    background-color: #fff;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 10rem;
    padding: 1rem 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.button1{
    padding: 20px;
    font-size: 1.3em;
    margin: 10px;
    flex: 1;
    color: black;
    background-color: #7c7c7c2c;
    /* color: white; */
    min-width: 100px;
    /* border: 1px solid black; */
    border-radius: 30px;
    height: 40%;
    justify-content: center;
    justify-items: center;
    top: 30%;
}

.button1:hover{
    background-color: var(--lightbackground);
    color: white;
    cursor: pointer;
}

.Text-box{
    color: white;
    font-size: 3rem;
}

.graphic-box > img{
    width: 800px;
}

@media (max-width: 800px) {
    .button1{
        font-size: 1.2em;
        /* background-color: black; */
    }
    .main{
        flex-direction: column;
        padding: 3rem;
    }
    .left{
        flex-direction: column;
        height: 30vh;
        margin-bottom: 2rem;
        width: 70%;
    }
    .Home-main-bottom{
        flex-direction: column;
    }
    .right{
        width: 70%;
        height: 55vh;
        /* background-color: white; */
    }
    .Home-main-upper{
        display: flex;
        justify-content: center;    
    }
    .main{
        padding: 1rem;
    }
  }