.main{
    margin: 0;
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: #02082d;
    box-sizing: border-box;
    flex-direction: column;
    overflow: auto;
}

.Home-main-upper{
    padding: 10px;
}

.Home-my-election-button{
    margin:10px;
    background-color: rgb(18, 68, 112);
}

.Home-my-election-button:hover{
    background-color: rgb(25, 96, 159);

}


.Home-main-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left{
    background-color: #7c7c7c2b;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 10rem;
    padding: 1rem 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.button1{
    padding: 20px;
    font-size: 1.3em;
    margin: 10px;
    flex: 1;
    background-color: #7c7c7c2c;
    color: white;
    min-width: 100px;
    /* border: 1px solid black; */
    border-radius: 30px;
    height: 40%;
    justify-content: center;
    justify-items: center;
    top: 30%;
}

.button1:hover{
    background-color: #7c7c7c5b;
    cursor: pointer;
}

.right{
    background-color: #7c7c7c2b;
    left: 10px;
    display: flex;
    border: 1px solid black;
    margin: 20px 0;
    width: 40%;
    height: 65vh;
}

@media (max-width: 800px) {
    .button1{
        font-size: 1.2em;
        /* background-color: black; */
    }
    .main{
        flex-direction: column;
        padding: 3rem;
    }
    .left{
        flex-direction: column;
        height: 30vh;
        margin-bottom: 2rem;
        width: 70%;
    }
    .Home-main-bottom{
        flex-direction: column;
    }
    .right{
        width: 70%;
        height: 55vh;
        /* background-color: white; */
    }
    .Home-main-upper{
        display: flex;
        justify-content: center;    
    }
    .main{
        padding: 1rem;
    }
  }
