.Register-box{
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 90vh;
    background-color: #02082d;
    color:white;
}

.Register-container{
    width: 300px;
    /* height: 500px; */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formGroup{
    margin-bottom: 15px;
}


.Register-input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.Register-buttonGroup{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}


.Register-registerButton{
    flex: 1;
    padding: 10px;
    background-color: #28a746;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Register-loginButton{
    flex: 1;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
}

.Register-registerButton:hover, .Register-loginButton:hover{
    background-color: #007bff88;
}